/* Reset some defaults */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f9fafc;
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}
